<nav>
  <p class="welcome">Log in to get started</p>
  <img src="img/logo.png" alt="Logo" class="logo" />
  <!-- <form class="login" action="" method="POST">
    <input
      type="text"
      placeholder="user"
      class="login__input login__input--user"
      name="username"
    />
    <input
      type="text"
      placeholder="PIN"
      maxlength="4"
      class="login__input login__input--pin"
      class="password"
    />
    <button type="submit" class="login__btn">&rarr;</button>
  </form> -->

  <ul class="main-header__item-list">
    <% if (!isAuthenticated) { %>
    <li class="main-header__item">
      <a class="<%= path === '/login' ? 'active' : '' %>" href="/login"
        >Login</a
      >
    </li>
    <li class="main-header__item">
      <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup"
        >Signup</a
      >
    </li>
    <% } else { %>
    <li class="main-header__item">
      <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <button type="submit">Logout</button>
      </form>
    </li>
    <% } %>
  </ul>
</nav>
